body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.game-section {
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.home-team-header, .away-team-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.team-logo {
    width: 120px;
    height: auto;
    margin-bottom: 5px;
    transition: transform 0.3s;
}

.team-logo:hover {
    transform: scale(1.1);
}

.game-details {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin: 0 20px;
}

h2 {
    margin: 0;
    font-size: 28px;
    color: #2c3e50;
}

.players-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.players-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #34495e;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 48%;
}

.players-container h3 {
    font-size: 22px;
    margin: 10px 0;
    color: #ecf0f1;
}

.player-card {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    background-color: #2c3e50;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.player-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.player-info {
    display: flex;
    flex-direction: column;
}

.player-card h3 {
    font-size: 18px;
    margin: 0;
    color: #ecf0f1;
}

.player-card h4 {
    color: #ffffff;
    margin: 0;
}

.player-card p {
    font-size: 14px;
    margin: 0;
    color: #bdc3c7;
}

.ballpark-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
